body {
    font-family: cursive;
    background-color: #eeff01;
}

.brand {
    position: absolute;
    left: 0;
    top: 0;
    height: 693px;
    width: 500px;
    background-color: #99e223;
    border: 1px solid #99e223;
    border-radius: 400px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    
}

.center {
    position: relative;
    top: 150px;
    left: 100px;
}

.inside {
    margin-left: 150px;
    color: blue;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 430px;
}

.firstPage {
    position: relative;
    top: 350px;
    left: 800px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: yellow;
}

.register {
    left: 600px;
    width: 100px;
}

.login {
    width: 100px;
    left: 700px;
}

.pa {
    position: absolute;
    top: 100px;
    left: 680px;
    font-size: 2.8rem;
    font-weight: bold;
    color: #413b3b;
}

.registerContainer {
    font-family: cursive;
    position: absolute;
    top: 50px;
    left: 450px;
    border: 2px solid #ff0000;
    border-radius: 10px;
    height: 600px;
    width: 500px;
}

h1 {
    font-weight: bold;
    margin-left: 200px;
}

label {
    color: #ff0000;
    font-size: 1.5rem;
    margin-left: 50px;
}

input {
    margin-left: 50px;
    width: 400px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;

}

.cont {
    top: 200px;
    height: 300px;
}

.newButton {
    font-weight: bold;
    margin-left: 200px;
    padding: 7px;
    width: 100px;
    border-radius: 10px;
    background-color: #000000;
    color: #ff0000;
}

.homeContainer {
    position: absolute;
    border-radius: 50px;
    top: 15px;
    left: 600px;
    border: 2px solid whitesmoke;
    height: 670px;
    width: 400px;
    background-color: black;
    color: whitesmoke;
}

.header {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-left: -100px;
    color: red;
}

.subBody {
    position: relative;
    left: 50px;
}

.text {
    position: absolute;
    left: 120px;
    top: 10px;
}

.profile {
    width: 25%;
    border-radius: 100px;
}

.imageBody {
    margin-top: 70px;
    font-size: 1.7rem;
    text-align: center;
}

.banner {
    width: 60%;
    border-radius: 10px;
}

.navContainer {
    position: absolute;
    left: 1050px;
    font-size: 2.7rem;
}

li {
    display: inline-block;
    margin: 20px;
}