body {
    font-family: cursive;
    background-color: whitesmoke;
}

#logo {
    width: 15%;
    position: relative;
    top: 10px;
    left: 200px;
}

/*BAND CSS*/

.banner {
    width: 60%;
    border-radius: 10px;
}

.brand {
    position: absolute;
    left: 0;
    top: 0;
    height: 693px;
    width: 500px;
    background: #5d686e;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    
}

.center {
    position: relative;
    top: 150px;
    left: 100px;
}

.inside {
    margin-left: 150px;
    color: #303079;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 430px;
}

.firstPage {
    position: relative;
    top: 350px;
    left: 800px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #303079;
    border: 2px solid #000000;
    background-color: #ffffff;
}

button:hover {
    cursor: pointer;
    color: whitesmoke;
    background: black;
    border: 1px solid #2535c2;
    font-weight: bold;
}

.register {
    left: 600px;
    width: 100px;
}

.login {
    width: 100px;
    left: 700px;
}

.firstPageParagraph {
    position: absolute;
    top: 100px;
    left: 680px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #303079;
}

/*REGISTER CSS*/

.registerContainer {
    font-family: cursive;
    position: absolute;
    top: 40px;
    left: 450px;
    height: 620px;
    width: 500px;
}

#register {
    color: #303079;
    margin-left: 200px;
}

.registerLabel {
    color: #303079;
    font-size: 1.7rem;
    margin-left: 50px;
}

.registerInputs {
    margin-left: 50px;
    width: 400px;
    height: 35px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    font-family: cursive;
}

.cont {
    top: 200px;
    height: 300px;
}

.newButton {
    font-family: cursive;
    margin-left: 200px;
    padding: 7px;
    width: 100px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    color: #303079;
}

/*HOME CSS*/

.homeContainer {
    position: absolute;
    border-radius: 50px;
    top: 25px;
    left: 500px;
    height: 670px;
    width: 400px;
}

.header {
    display: flex;
    justify-content: start;
    position: relative;
    right: 140px;
    color: red;
}

.subBody {
    position: relative;
    left: 50px;
}

.text {
    position: absolute;
    left: 120px;
    top: 10px;
}

.profile {
    width: 25%;
    border-radius: 100px;
}

.imageBody {
    margin-top: 70px;
    text-align: center;
}

.navigation-section {
    position: absolute;
    top: 25px;
    left: 70px;
    border: 1px solid red;
    border-radius: 5px;
    height: 600px;
    width: 300px;
}

/*NAVIGATION CSS*/

li {
    display: block;
    margin: 20px;
    font-size: 1.5rem;
}

.navlinks {
    margin-top: 50px;
}

span {
    margin: 10px;
}

/*NOTIFICATION CSS*/

.notification-section {
    position: absolute;
    left: 930px;
    top: 5px;
    border: 1px solid red;
    border-radius: 5px;
    height: 600px;
    width: 300px;
}

/*POST CSS*/

.post {
    text-align: center;
}

form {
    border: 1px solid black;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    left: 500px;
    /* margin: 10px; */
}

.file {
    margin-top: 20px;
    margin-left: 110px;
}

.postLabel {
    margin-top: 10px;
    font-size: 2rem;
}

textarea {
    margin-top: 25px;
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

.postButton {
    display: block;
    margin-top: 50px;
    margin-left: 150px;
    
}

/*PROFILE CSS*/

.imageProfile {
    position: absolute;
    left: 500px;
    top: 100px;
}

#imgProfile {
    width: 50%;
    border-radius: 120px;
}

#imgProfile:hover {
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% {
        rotate: 36deg;
    }
    15% {
        rotate: 72deg;
    }
    25% {
        rotate: 108deg;
    }
    35% {
        rotate: 144deg;
    }
    45% {
        rotate: 180deg;
    }
    55% {
        rotate: 216deg;
    }
    65% {
        rotate: 252deg;
    }
    75% {
        rotate: 288deg;
    }
    85% {
        rotate: 324deg;
    }
    95% {
        rotate: 360deg;
    }
    /* 100% {
        rotate: 0;
    } */
}