body {
    font-family: cursive;
}

/*BAND CSS*/

.banner {
    width: 60%;
    border-radius: 10px;
}

.brand {
    position: absolute;
    left: 0;
    top: 0;
    height: 693px;
    width: 500px;
    background: linear-gradient(orange , yellow ,red );
    border: 1px solid linear-gradient(orange , yellow ,red );
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    
}

.center {
    position: relative;
    top: 150px;
    left: 100px;
}

.inside {
    margin-left: 150px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 430px;
}

.firstPage {
    position: relative;
    top: 350px;
    left: 800px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    color: whitesmoke;
    border: 1px solid orangered;
    background-color: orangered;
}

button:hover {
    cursor: pointer;
    color: black;
    background: red;
    border: 1px solid red;
    font-weight: bold;
}

.register {
    left: 600px;
    width: 100px;
}

.login {
    width: 100px;
    left: 700px;
}

.pa {
    position: absolute;
    top: 100px;
    left: 680px;
    font-size: 2rem;
    font-weight: bold;
    color: #413b3b;
}

/*REGISTER CSS*/

.registerContainer {
    font-family: cursive;
    position: absolute;
    top: 40px;
    left: 450px;
    height: 620px;
    width: 500px;
}

h1 {
    margin-left: 200px;
}

label {
    color: #ff0000;
    font-size: 1.7rem;
    margin-left: 50px;
}

.registerInputs {
    margin-left: 50px;
    width: 400px;
    height: 35px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    font-family: cursive;
}

.cont {
    top: 200px;
    height: 300px;
}

.newButton {
    font-family: cursive;
    margin-left: 200px;
    padding: 7px;
    width: 100px;
    border-radius: 10px;
    background-color: #000000;
    border: 1px solid black;
    color: #ff0000;
}

/*HOME CSS*/

.homeContainer {
    position: absolute;
    border-radius: 50px;
    top: 25px;
    left: 500px;
    height: 670px;
    width: 400px;
}

.header {
    display: flex;
    justify-content: start;
    position: relative;
    right: 140px;
    color: red;
}

.subBody {
    position: relative;
    left: 50px;
}

.text {
    position: absolute;
    left: 120px;
    top: 10px;
}

.profile {
    width: 25%;
    border-radius: 100px;
}

.imageBody {
    margin-top: 70px;
    text-align: center;
}

.navContainer {
    position: absolute;
    font-size: 1.5rem;
    color: black;
}

.navigation-section {
    position: absolute;
    top: 25px;
    left: 70px;
    border: 1px solid red;
    border-radius: 5px;
    height: 600px;
    width: 300px;
}

li {
    display: block;
    margin: 20px;
    font-size: 1rem;
}

/*POST CSS*/

.post {
    text-align: center;
}

form {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    position: absolute;
    text-align: center;
    left: 540px;
    /* margin: 10px; */
}

.file {
    margin-top: 20px;
    margin-left: 110px;
}

.postLabel {
    margin-top: 10px;
    font-size: 2rem;
}

.postInput {
    margin-top: 25px;
    height: 100px;
    width: 300px;
}

.postButton {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
}